@model Proizvodi.KatalogProizvoda

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KatalogProizvoda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProizvodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProizvodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proizvod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrsta)
        </dd>

    </dl>
</div>
<button>
    @Html.ActionLink("Back", "Index")
</button>
