@model IEnumerable<Proizvodi.KatalogProizvoda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Katalog proizvoda</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProizvodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vrsta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProizvodId)
    </td>
    <th>
        @Html.DisplayNameFor(model => model.Proizvod)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Vrsta)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.KatalogId }) |
        @Html.ActionLink("Details", "Details", new { id = item.KatalogId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.KatalogId })
    </td>
</tr>
}

</table>
<button>
    @Html.ActionLink("Add new", "Create")
</button>
